._content{
	padding: setting-get('rhythm') setting-get('rhythm') / 2;

	@include breakpoint(setting-get('tablet portrait')){
		padding: setting-get('rhythm') 0rem;
	}

	&--example-section-1 {
		margin-top: setting-get('rhythm');

		@include breakpoint(setting-get('tablet portrait')) {
			@include float-span(6, $gutter: 2rem);
		}
	}

	&--example-section-2 {

		@include breakpoint(setting-get('tablet portrait')) {
			@include float-span(6);
		}
	}
}