<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css/style.css">
  <title>Watson Developer Cloud Boilerplate</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="container">
    <h1 class="base--h1">Congratulations, you got it working!</h1>
    <p class="base--p">This boilerplate is to help you get started with using our Watson API's.</p>
    <h2 class="base--h2">Help yourself to all of the Watson API resources:</h2>
    <ul class="base--ul">
      <li class="base--li"><a href="http://watson-developer-cloud.github.io/" target="_blank">Watson SDK's</a> for each API</li>
      <li class="base--li"><a href="https://github.com/watson-developer-cloud/" target="_blank">Watson Developer Cloud GitHub</a></li>
      <li class="base--li"><a href="https://watson-api-explorer.mybluemix.net/" target="_blank">Swagger API Documentation</a></li>
      <li class="base--li">Example <a href="https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/text-to-speech/api/v1/#introduction" target="_blank">REST Explorer</a> (This one is for Text to Speech API)</li>
      <li class="base--li"><a href="https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/" target="_blank">Documentation</a></li>
      <li class="base--li"><a href="https://console.ng.bluemix.net/docs/services/watson.html" target="_blank">Watson Bluemix Documentation</a></li>
    </ul>
    <h2 class="base--h2">Questions or have issues?</h2>
    <ul class="base--ul">
      <li class="base--li"><a href="http://stackoverflow.com/search?q=watson" target="_blank">Post a question on StackOverflow</a> and use the <code class="base--code">ibm-watson</code> tag</li>
      <li class="base--li"><a href="https://github.com/watson-developer-cloud/" target="_blank">Make a Github Issue</a></li>
    </ul>
    <h2 class="base--h2">Example Post Request</h2>
    <p class="base--p">We have a barebone POST request set up for you.</p>
    <textarea class="base--textarea js-text-input" name="text-input" rows="5">John Doe</textarea>
    <button class="base--button js-submit" type="submit">Submit</button>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</body>

</html>
